{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <title>About - Mentorship Program</title>
</head>
<body class="bg-gray-100">
    {% include 'mentorship/navbar.html' %}

    <section class="py-12">
        <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
            <h2 class="text-3xl font-bold text-gray-900">About the Program</h2>
            <p class="mt-4 text-lg text-gray-700">
                The Mentorship Program is a three months program during which student scholars receive personalized mentorship from graduate scholars who have successfully navigated their own academic and professional journeys. This program aims to foster a nurturing and supportive environment that promotes academic excellence, personal growth, and professional development.
            </p>
        </div>
    </section>
    
    <!-- how it works -->
    <section class="py-12 bg-white">
        <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
            <h2 class="text-3xl font-bold text-gray-900">How It Works</h2>
            <div class="mt-8 grid gap-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
                <div class="bg-green-100 p-6 rounded-lg shadow-lg">
                    <h3 class="text-2xl font-bold text-gray-900">Matching Process</h3>
                    <p class="mt-4 text-lg text-gray-700">
                        We meticulously match student scholars with graduate mentors based on mutual interests, academic majors, values, and hobbies. This personalized approach ensures a meaningful and productive mentorship experience.
                    </p>
                </div>
                <div class="bg-green-100 p-6 rounded-lg shadow-lg">
                    <h3 class="text-2xl font-bold text-gray-900">Duration</h3>
                    <p class="mt-4 text-lg text-gray-700">
                        The mentorship relationship lasts for three months, providing ample time for mentors and mentees to build a strong connection and achieve their goals.
                    </p>
                </div>
                <div class="bg-green-100 p-6 rounded-lg shadow-lg">
                    <h3 class="text-2xl font-bold text-gray-900">Activities</h3>
                    <p class="mt-4 text-lg text-gray-700">
                        <ul class="list-disc list-inside pl-5">
                            <li>Mentor and mentee to meet every 2 weeks</li>
                            <li>Career guidance</li>
                            <li>Academic support</li>
                            <li>Networking opportunities</li>
                        </ul>
                    </p>
                </div>
                <div class="bg-green-100 p-6 rounded-lg shadow-lg">
                    <h3 class="text-2xl font-bold text-gray-900">Support</h3>
                    <p class="mt-4 text-lg text-gray-700">
                        Both mentors and mentees receive continuous support from the Mentorship Program team to ensure a smooth and enriching experience.
                    </p>
                </div>
            </div>
        </div>
    </section>  

   <!-- benefits  -->
    <section class="py-12">
    <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
        <h2 class="text-3xl font-bold text-gray-900">Program Benefits</h2>
        <div class="mt-8 grid gap-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
            <div class="bg-green-100 p-6 rounded-lg shadow-lg">
                <h3 class="text-2xl font-bold text-gray-900">Guidance</h3>
                <p class="mt-4 text-lg text-gray-700">
                    Receive personalized advice and support tailored to your academic and career aspirations.
                </p>
            </div>
            <div class="bg-green-100 p-6 rounded-lg shadow-lg">
                <h3 class="text-2xl font-bold text-gray-900">Networking</h3>
                <p class="mt-4 text-lg text-gray-700">
                    Build valuable connections with experienced professionals and fellow scholars.
                </p>
            </div>
            <div class="bg-green-100 p-6 rounded-lg shadow-lg">
                <h3 class="text-2xl font-bold text-gray-900">Skill Development</h3>
                <p class="mt-4 text-lg text-gray-700">
                    Enhance your skills through targeted mentorship activities and resources.
                </p>
            </div>
            <div class="bg-green-100 p-6 rounded-lg shadow-lg">
                <h3 class="text-2xl font-bold text-gray-900">Personal Growth</h3>
                <p class="mt-4 text-lg text-gray-700">
                    Gain confidence, improve your leadership abilities, and develop a clearer vision for your future.
                </p>
            </div>
            </div>
        </div>
    </section>


    <section class="py-16 bg-white">
        <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
            <h2 class="text-3xl font-bold text-gray-900 mb-6">Get Involved</h2>
            <p class="mb-8 text-lg text-gray-700">
                Are you a student scholar looking for guidance? Or a graduate scholar eager to share your knowledge and experience? Join our Mentorship Program today!
            </p>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
                <a href="https://airtable.com/app8ao9xSw15JFlvb/shr8jfMbvNSeRKXUk" target="_blank" class="bg-green-800 text-white rounded-lg px-6 py-3 text-lg font-semibold hover:bg-green-700 transition-colors">
                    Student Scholars: Learn More and Apply
                </a>
                <a href="https://airtable.com/app8ao9xSw15JFlvb/shrNxUUFd48kTSjWS" target="_blank" class="bg-green-800 text-white rounded-lg px-6 py-3 text-lg font-semibold hover:bg-green-700 transition-colors">
                    Graduate Scholars: Become a Mentor
                </a>
            </div>
            <p class="mt-8 text-lg text-gray-700">
                For more information, please contact our Mentorship Program team at 
                <a href="mailto:[contact email]" class="text-blue-600 hover:underline">scholarmentorship@wellsmountaininitiative.org</a>.
            </p>
        </div>
    </section>
    
    {% include 'mentorship/footer.html' %}
    
</body>
</html>
