{% load static tailwind_tags %}
<nav class="bg-green-800 border-b border-green-500">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="flex h-20 items-center justify-between">
            <!-- Left Section - Logo -->
            <div class="flex items-center">
                <a class="flex flex-shrink-0 items-center mr-4" href="{% url 'home' %}">
                    <img class="h-12 w-auto" 
                         src="{% static 'images/wmi_logo.png' %}" 
                         alt="Logo" 
                         style="max-height: 50px; max-width: 200px;" />
                    <span class="hidden md:block text-white text-2xl font-bold ml-2">GAB</span>
                </a>
            </div>
            
            <!-- Right Section - Menu -->
            <div class="ml-auto">
                <div class="flex space-x-2">
                    <!-- Home Tab -->
                    <a href="{% url 'home' %}" 
                       class="{% if request.resolver_match.url_name == 'home' %}bg-green-600 text-white{% else %}text-white hover:bg-green-700 hover:text-white{% endif %} rounded-md px-3 py-2">
                        Home
                    </a>
                    <!-- About Tab -->
                    <a href="{% url 'about' %}" 
                       class="{% if request.resolver_match.url_name == 'about' %}bg-green-600 text-white{% else %}text-white hover:bg-green-700 hover:text-white{% endif %} rounded-md px-3 py-2">
                        About
                    </a>
                    <!-- Mentor Tab -->
                    <a hidden href="{% url 'mentor' %}" 
                       class="{% if request.resolver_match.url_name == 'mentor' %}bg-green-600 text-white{% else %}text-white hover:bg-green-700 hover:text-white{% endif %} rounded-md px-3 py-2">
                        Mentor
                    </a>
                    <!-- Mentee Tab -->
                    <a hidden href="{% url 'mentee' %}" 
                       class="{% if request.resolver_match.url_name == 'mentee' %}bg-green-600 text-white{% else %}text-white hover:bg-green-700 hover:text-white{% endif %} rounded-md px-3 py-2">
                        Mentee
                    </a>
                    <!-- Analytics Tab -->
                    <a href="{% url 'analytics' %}" 
                       class="{% if request.resolver_match.url_name == 'analytics' %}bg-green-600 text-white{% else %}text-white hover:bg-green-700 hover:text-white{% endif %} rounded-md px-3 py-2">
                        Analytics
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
