{% load static tailwind_tags %}
<nav class="bg-green-800 border-b border-green-500">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="flex h-20 items-center justify-between">
            <div class="flex flex-1 items-center justify-center md:items-stretch md:justify-start">
                <!-- Logo -->
                <a class="flex flex-shrink-0 items-center mr-4" href="{% url 'home' %}">
                    <img class="h-12 w-auto" src="{% static 'images/wmi_logo.png' %}" alt="Logo" style="max-height: 50px; max-width: 200px;" />
                    <span class="hidden md:block text-white text-2xl font-bold ml-2">GAB</span>
                </a>
        
                <div class="md:ml-auto">
                    <div class="flex space-x-2">
                        <a href="{% url 'home' %}" class="text-white hover:bg-gray-900 hover:text-white rounded-md px-3 py-2">Home</a>
                        <a href="{% url 'about' %}" class="text-white hover:bg-gray-900 hover:text-white rounded-md px-3 py-2 ">About</a>
                        <!-- <a hidden href="{% url 'mentor' %}" class="text-white hover:bg-gray-900 hover:text-white rounded-md px-3 py-2">Mentor</a> -->
                        <a href="{% url 'mentor' %}" class="text-white hover:bg-gray-900 hover:text-white rounded-md px-3 py-2">Mentor</a>
                        <a href="{% url 'mentee' %}" class="text-white hover:bg-gray-900 hover:text-white rounded-md px-3 py-2">Mentee</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>